<!DOCTYPE html>
<html lang="en">
<!-- form contains all fields of album -->
{% for field in form %}
    <div class="form-group">
        <!-- If field value is invalid, produce an error message -->
        <div class="col-sm-offset-2 col-sm-19">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <!-- field name -->
        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
        <!-- input field -->
        <div class="col-sm-10">{{ field }}</div>
    </div>
{% endfor %}
</html>